rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isResumeOwner() {
      return isSignedIn() && resource.data.userId == request.auth.uid;
    }

    function isCreatingOwnResume() {
      return isSignedIn() && request.resource.data.userId == request.auth.uid;
    }

    function userIdUnchanged() {
      return request.resource.data.userId == resource.data.userId;
    }

    match /resumes/{resumeId} {
      allow create: if isCreatingOwnResume();

      allow read, delete: if isResumeOwner();

      // Prevent users from "transferring" resumes by changing `userId`.
      allow update: if isResumeOwner() && userIdUnchanged();
    }
  }
}
